/* import방식으로 하면 공통으로 적용되는 css파일에 한 번 넣으면 공통으로 쓸 수 있음 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Righteous);

/* 
html에 넣으면 됨. 파일마다 다 넣어줘야함.
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> */




/* 레이어 팝업 */
.layer_popup {
    width: 313px;
    height: 572px;

    padding: 5px;
    box-sizing: border-box;
    background: red;

    position: fixed;
    z-index: 999999;
    left: 100px;
    top: 200px;
}

.big_img_box {
    position: relative;
    font-size: 0;
    /* padding-bottom: 110%; */
    /* height: 332px; */
}

.img_box {
    /* display: block; 이걸 안 줘도 포지션 줘서 띄우면 전체 영역 잡음 */
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    /* display: none; */
}

/* 자식(a)이 전부 떠있으면 부모(.big_img_box)가 높이를 못 잡음 높이:0
    높이 잡게 하는 방법: 높이 px로 지정하거나 padding-bottom: % 주기
    새로운 방법: 자식 중 하나 position: relative주기 */
/* .big_img_box a:nth-child(1) {
    position: relative;
} */

.img_box img {
    width: 100%;
}

.sm_img_box {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    background: #fff;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}

.sm_item {
    width: calc((100% - (5px* 2)) / 3);
    height: 100px;
    border: 1px solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_btn_box {
    width: 100%;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 2px 5px;
    box-sizing: border-box;
}

.btn_close_today {}

.btn_close {}

/* 본문 */
.tttt {
    height: 100vh;
    position: relative;
    z-index: -9999;
}
.container {
    overflow: hidden;
    background: #f6feff;
    position: relative;
    z-index: 1;
    border-radius: 100px 100px 0 0;
}
#main_banner {
    width: 100%;
    height: 100vh;
    /* position: relative;  */
    overflow: hidden;
    
}

.fixed {
    position: fixed;
    z-index: 0;
}
.banner {
    width: 100%;
    height: 100%;


}

.banner1 {
    background: url(../../img/ohprintme/main_banner/main-visual-sticker-2560500@2x.jpg) no-repeat center / cover;
}

.banner2 {
    background: url(../../img/ohprintme/main_banner/big_ban_bg.jpg) no-repeat center / cover;
}

.banner3 {
    background: url(../../img/ohprintme/main_banner/10001053_1710395096503.gif) no-repeat center / cover;
}

.banner4 {
    background: url(../../img/ohprintme/main_banner/10002832_1710399448763.jpg) no-repeat center / cover;
}

.banner5 {
    background: url(../../img/ohprintme/main_banner/10104811_1711002152377.jpg) no-repeat center / cover;
}

.banner6 {
    background: url(../../img/ohprintme/main_banner/10200154_1711601773698.jpg) no-repeat center / cover;
}

.banner7 {
    background: url(../../img/ohprintme/main_banner/10200508_1711602780548.jpg) no-repeat center / cover;
}

.banner8 {
    background: url(../../img/ohprintme/main_banner/10202209_1711606876434.jpg) no-repeat center / cover;
}

.banner9 {
    background: url(../../img/ohprintme/main_banner/9848153_1709603522231.jpg) no-repeat center / cover;
}

.banner10 {
    background: url(../../img/ohprintme/main_banner/9885234_1709709693595.gif) no-repeat center / cover;
}

#main_banner .black_pan {
    position: absolute;
    left: 0;
    top:0;
    /* z-index: 9; */
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main_banner .b_txt {
    /* position:relative;
    z-index:999; */
    /* -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%); */
    /* margin: 100px 0; */
 width:1200px;
   height: 600px;
   /* margin-left: 100px; */
    margin: 0 auto;
    font-size:15px;
    color:#000000;
    /* font-family: "Noto Sans KR", sans-serif; */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    
}
.b_title_title {
    /* position:absolute;
    top:20%;left:5%;  */
    font-size: 100px;
    font-weight: 700;
    display: none;
    /* transform: translate(50px,0); */
}
.yellow_txt {
    color: #ffa928;
    display: inline-block;
    font-family: 'Righteous', serif;
    text-shadow: .08em .08em 0 hsla(230,40%,50%,1);
    position: relative;
}
.white_txt {
    color: #ffffff;
    display: inline-block;
    font-family: 'Righteous', serif;
    text-shadow: .08em .08em 0 hsla(230,40%,50%,1);
    position: relative;
}

.yellow_txt:after ,
.white_txt:after {
        margin: 0;
  padding: 0;
  box-sizing: border-box;
      content: attr(data-shadow);
      position: absolute;
      top: .2em; left: .16em;
      z-index: -1;
      text-shadow: none;
      background-image:
        linear-gradient(
          45deg,
          transparent 45%,
          hsla(48,20%,90%,1) 45%,
          hsla(48,20%,90%,1) 55%,
          transparent 0
          );
      background-size: .05em .05em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      animation: shad-anim 15s linear infinite;
      }
  
  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }
    

#main_banner .b_title {
    
    font-size: 35px;
    font-weight: 700;
    
    /* margin-bottom:40px; */
    line-height:1.3;
    letter-spacing:-.2px;
    /* color:#fff */
    /* text-shadow: -1px 0px rgb(255, 255, 255), 0px 1px rgb(255, 255, 255), 1px 0px rgb(255, 255, 255), 0px -1px rgb(248, 248, 248); */
    /* display: none; */
    opacity: 0;
    transition: opacity 0.5s 1s, transform 0.5s;
    overflow: hidden;
}
.oh_box {
    position: relative;
    top:100px;
    transition: all 0.5s 1s;
}
#main_banner .b_subtitle {
    font-size: 15px;
    /* position:absolute;
    top:70%;left:5%; */
    opacity: 0;
    transition: opacity 0.5s 1.5s, transform 0.5s;
}
#main_banner .banner_go_btn {
    opacity: 0;
    transition: opacity 0.5s 2s;
}
.banner_go_btn {
    font-size: 16px;
    font-weight: 400;

    /* float: left; */
    width: 250px;
    display: block;
    /* margin: 1em; */
    padding: 1em 2em;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px;
    border: 1px solid;

    
  }
  .button:focus {
    outline: none;
  }
  .button > span {
    vertical-align: middle;
  }
  .button--wayra {
    overflow: hidden;
    width: 245px;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ffe09d;
    z-index: -1;
    /* -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0); */
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    /* -webkit-transform-origin: 0% 100%; */
    transform-origin: 0% 100%;
    /* -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s; */
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  .button--wayra:hover {
    transition: all 0.5s 0s;
    color: #ffffff;
    border-color: #ffb311;
  }
  .button--wayra.button--inverted:hover {
    color: #ffb311;
    border-color: #fff;
  }
  .button--wayra:hover::before {
    opacity: 1;
    background-color: #ffb311;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--wayra.button--inverted:hover::before {
    background-color: #fff;
  }
.m_b_frame {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100px;
    height: 100%;
}
.m_b_frame_L {
    left: 0;
    background: url(../../img/ohprintme/frame/frame_L_b.png) no-repeat left / cover;
  }
  .m_b_frame_R {
    right: 0;
    background: url(../../img/ohprintme/frame/frame_R_b.png) no-repeat right / cover;
  }


#main_banner .swiper-button-prev,
#main_banner .swiper-button-next {
    background-color: #fff;
    opacity: 0;
    padding: 15px 5px;
    border-radius: 20px;
    color: rgb(60, 201, 226) !important;
}
#main_banner:hover .swiper-button-prev,
#main_banner:hover .swiper-button-next{ opacity: 0.5;}

#main_banner .swiper-button-prev:hover,
#main_banner .swiper-button-next:hover {
    opacity: 1;
}


#main_banner .swiper-button-prev:after,
#main_banner .swiper-button-next:after {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}

#main_banner .swiper-pagination {
    width: 100%;
    height: 12px;
    background: rgba(226, 226, 226, 0.74);
    border: transparent;
    opacity: 1;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: rgb(255, 202, 88);
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 0;
    bottom: 0;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 0;
    top: auto;
}

/* #main_banner .swiper-pagination2 {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
} */
#main_banner .swiper-pagination2 {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 101;
    transform: translateX(-50%);
    width: max-content
}

#main_banner .swiper-pagination2 span {
    opacity: .3;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: transparent;
    transition: all .3s
}

#main_banner .swiper-pagination2 span.bullet_active {
    opacity: 1
}

#main_banner .swiper-pagination2 span:before {
    opacity: 0;
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 1px solid rgba(38, 230, 198, 0.63);
    border-radius: 50%;
    transition: all .3s
}

#main_banner .swiper-pagination2 span.bullet_active:before {
    opacity: 1;
    width: 35px;
    height: 35px
}

#main_banner .swiper-pagination2 span:after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffc219
}
@media screen and (max-width: 1400px) {
    
    .b_txt {
        padding-left: 100px;
    }

}
@media screen and (max-width: 768px) {

    #main_banner .swiper-button-next,
    #main_banner .swiper-button-prev,
    #main_banner .swiper-pagination2 {
        display: none;
    }

}


.line_active {
    width: 50px;
    background-color: #2d82e8;
}


/* 본문 공통 */
.sec {
    margin-bottom: 250px;
    height: 100%;
}

.sec_title {
    height: 100px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
}
.sec_body {
    height: 100%;
    transition: all 1.5s;
}

.item_box {
    display: flex;
    gap: 20px;
    row-gap: 100px;
    flex-wrap: wrap;
}

.item img {
    width: 100%;
}

.item_info {
    padding: 0 5px;
    box-sizing: border-box;

    font-size: 13px;
    font-weight: 300;
}

.item_info_title {
    height: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
.item_desc {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.o_price {
    text-decoration: line-through;
}

/* 스크롤 위치 맞으면 하나씩 나타나면서 올라오게 하기(샤샤샥) */
.pos_init {
    transform: translate(0, 80px);
    opacity: 0;
}

.pos_init_active {
    transform: translate(0,0) !important;
    opacity: 1 !important;
    transition: all 0.5s;
}
/* 장점 */
.posx_RR {
    transform: translate(100%,0);
    opacity: 0;
}
#benefit {
    margin-top: 150px;
    width: 100%;
    height: 500px;
    background: url(../../img/ohprintme/패턴/6.jpg) center / contain; 
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

#benefit .benefit_box_title {
    margin: 20px 0 0 10px;
    font-size: 60px;
    font-weight: 900;
    position: relative;
    left: 30vw;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.5s 0.5s;
}

.benefit_box_title span:nth-child(1) {
    color: #ffaa0c;
    text-shadow: -2px 0 #ffaa0c, 0 2px #ffaa0c, 2px 0 #ffaa0c, 0 -2px #ffaa0c;
}
.benefit_box_title span:nth-child(2) {
    color: #2D82E8;
    /* text-shadow: -2px 0 #ffaa0c, 0 2px #ffaa0c, 2px 0 #ffaa0c, 0 -2px #ffaa0c; */
}
.benefit_box_title span:nth-child(3) {
    font-size: 0.7em;
    color: white;
    text-shadow: -1px 0 #ffaa0c, 0 1px #ffaa0c, 1px 0 #ffaa0c, 0 -1px #ffaa0c;
}
.bf_tit_line  {
    position: absolute;
    left: 50vw;
    top: 0;
    width: 50%;
    height: 100px;
    background: url(../../img/ohprintme/패턴/1.png) center / cover;
    opacity: 0;
}
.benefit_box {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: nowrap;
    
}
.benefit_box_active {
    transform: translate(0,0px);
    opacity: 1;
}
.benefit {
    position: relative;
    height: 100%;
    transform: translate(0,200px);
    opacity: 0;
}
.benefit1 {
    width: 100%;
    background:url(../../img/ohprintme/패턴/7.png) no-repeat center / contain;
}
.benefit2 {
    width: 100%;
    background:url(../../img/ohprintme/패턴/8.png)no-repeat center / contain;
}
.benefit3 {
    width: 100%;
    background:url(../../img/ohprintme/패턴/9.png)no-repeat center / contain;
}
.b_circle {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff7a; 
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
.b_circle1 {
    background: url(../../img/ohprintme/패턴/special_05.png)no-repeat center / cover;;
}
.b_circle2 {
    background: url(../../img/ohprintme/패턴/20240407_074351.png)no-repeat center / cover;;
}
.b_circle3 {
    background: url(../../img/ohprintme/패턴/deli-img-03.jpg)no-repeat center / cover;;
}

.bf_txt {
    background: #6e777762;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.b_txt_desc {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    color: #fff;
    background: #1c2b3d62;
    position: absolute;
text-align: center;
    padding: 35% 1%;
    
    opacity: 0;
}
.b_circle:hover .bf_txt{
    opacity: 0;
}
.b_circle:hover .b_txt_desc{
    opacity: 1;
}
.b_circle:hover {
    transform:translate(-50%, -50%) scale(1.1);
}
@media screen and (max-width: 1000px) {
    .container {
        border-radius: 50px 50px 0 0;

    }
    #benefit {
        /* height: 400px; */
    }
    .b_circle {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 768px) {
    .sec {
        margin-bottom: 120px;

    }
    #benefit {
        height: 300px;
    }
    .b_circle {
        width: 180px;
        height: 180px;
        top:50%
    }
    /* .b_txt_desc {
        display: none;
    } */
    .benefit_box_title {
        font-size: 40px;
    }

}
@media screen and (max-width: 576px) {
    .sec {
        margin-bottom: 100px;

    }
    .b_circle {
        width: 140px;
        height: 140px;
        top:50%
    }
    .benefit_box_title {
        font-size: 35px;
    }
    .b_txt_desc {
        font-size: 13px;
    }
}
/* 테이프 */
.tape1 {
    position: absolute;
    left: -700px;
    top: 1000px;
    width: 1600px;
    height: 200px;
    /* z-index: -10; */

    background: url(../../img/ohprintme/패턴/1.jpg) center/ cover;
    transform: translate(-800px,800px) rotate(-45deg);
    transition: transform 1s , opacity 1.5s;
    opacity: 0;
}
.tape1_active {
    transform: translate(0,0) rotate(-45deg);
    opacity: 1;
}
.tape2 {
    position: absolute;
    right: -700px;
    top: 1500px;
    width: 1600px;
    height: 200px;
    /* z-index: -10; */

    background: url(../../img/ohprintme/패턴/1-1.jpg) center/ cover;
    transform: translate(800px,-800px) rotate(-45deg);
    transition: transform 1s , opacity 1.5s;
    opacity: 0;
}
.tape2_active {
    transform: translate(0,0) rotate(-45deg);
    opacity: 1;
}

/* 템플릿 탭 */
#template {
    position: relative;
    z-index: 9;
}
.template_top {
    max-width: 1200px;
    margin: 0 auto;
    transition: all 1s;
    
}

.template_top_title {
    margin-left: 10px;
    font-size: 55px;
    font-weight: 900;
}
#template_tab .swiper-button-prev,
#template_tab .swiper-button-next {
    background-color: #fff;
    opacity: 0.7;
    padding: 5px 5px;
    border-radius: 20px;
    color: rgb(60, 201, 226) !important;
    top: 40px
}
#template_tab .swiper-button-prev:hover ,
#template_tab .swiper-button-next:hover
{ opacity: 0.8;}
#template_tab .swiper-button-prev:after,
#template_tab .swiper-button-next:after {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}
.tab_box {
    /* width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    /* display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 52px; */
    /* background: pink; */
    transition: all 1s;
    border-bottom:1px solid #f1f1f1 ;
}
.button_box {
    display: flex;
    justify-content: center;
    min-width: 80px;
}
.tab {
    width: calc(100%/2);
    min-width: 80px;
    height: 100%;
    display: flex;
    /* background-color: white; */
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    color: #838383
}
.tab_txt {
    color: #000000;
}

.tab_img_box {
    background: rgb(247, 247, 247);
    border-radius: 20px;
    width: 70px;
    height: 70px;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 5px;
}
.t_i_b_on {
    background: #e5fdff;
}
.t_i_b_click {
    background: rgb(255, 219, 121);
}
.tab_img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}
.tab_img:nth-child(1) {
    
}
.tab img:nth-child(2) {
    opacity: 0;
}
.tab_down::after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: rgba(216, 216, 216, 0.575);
    width: 50%;
    min-width: 80px;
    height: 2px;


}
.tab_up::after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: rgb(35, 37, 39);
    width: 50%;
    min-width: 80px;
    height: 2px;

    opacity: 1;
    transition: all 0.7s;
}
/* 서브탭 */
.sub_tab_sec {
    width: 100%;
    height: 67px;
    overflow-x: scroll;
    overflow-y: hidden;
    /* box-sizing: border-box; */
    /* position: relative; */
    transition: all 1.2s;
} 
.m_auto {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* background: pink; */
}
.sub_tab_box {
    /* width: 100%; */
    height: 100%;
     
    margin-left: 50px ;
    position: absolute;
    left: 0;
    /* overflow: hidden; */
    /* display: none; */
    display: flex;
    gap: 5px;
    /* background: blue; */
    
    /* display: none; */
    
}
.button_box2 {
    display: flex;
    justify-content: center;
}
.sub_tab {
    font-size: 14px;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
    /* color: #838383 */
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 7px 10px;
    margin: 10px 0;
    background: #fff;
    transition: all 0.3s;
}
.sub_tab_hover {
    background: #ececec;
}
.sub_tab_clicked {
    border:1px solid #2d82e8;
    color: #2d82e8;
    background: #e8f6ff;
}
/* 템플릿 바디 */
.template_body_box {
    max-width: 1200px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    
}
.template_L {
    width: 100%;
    padding: 25px;
    background: #e7f1ff;
    
    border-radius: 30px;
}
.template_img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: url(../../img/ohprintme/template/스티커/1.jpg) no-repeat center / cover;
}

.template_R {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
    background: #F9FBFE;
    border-radius: 30px;
    

}
.template_desc_box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 16px;
    justify-content: space-between;
}
.tp_txt {
/* width: 350px; */
}
.tp_txt_title {
    font-size: 20px;
    font-weight: 600;
}
.tp_txt_desc {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}
.tp_go_btn {
    width: 170px;
    border-radius: 20px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
}
  .button--nina {
    padding: 0 2em;
    background: #4286F4;
    color: #fff;
    overflow: hidden;
    transition: background-color 0.3s;

  }
  .button--nina > span {
    display: inline-block;
    padding: 1em 0;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, -10px, 0);
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button--nina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button--nina:hover {
    background-color: #5fd6df;
  }
  .button--nina:hover::before {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  .button--nina:hover > span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .button--nina:hover > span:nth-child(1) {
    transition-delay: 0.045s;
  }
  .button--nina:hover > span:nth-child(2) {
    transition-delay: 0.09s;
  }
  .button--nina:hover > span:nth-child(3) {
    transition-delay: 0.135s;
  }
  .button--nina:hover > span:nth-child(4) {
    transition-delay: 0.18s;
  }
  .button--nina:hover > span:nth-child(5) {
    transition-delay: 0.225s;
  }

  .tp_line {
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 40px 0 20px;
  }

  .template_ex_box {height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;}
.tp_ex_header{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.tp_ex_header_title {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
}
.tp_ex_header_title_img {
    width: 40px;
    height: 40px;
    background: url(../../img/ohprintme/icon/tp.png) no-repeat center / cover;
}
.tp_ex_header_more {
    font-size: 13px;
    font-weight: 400;
}
.tp_ex_body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 10px;
}
.template_ex {
    width: calc((100% - 10px*3)/4);
    height: calc((100% - 10px)/2);
    background: pink;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
    /* position: relative; */
}
.template_ex_active {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    border: 1px solid #2d82e8;
    border-radius: 10px;
    position: relative;
    background: #adcff856;
}
.checked_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2d82e8 url(../../img/ohprintme/icon/체크.svg) no-repeat center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.template_ex:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}
.template_ex1 {background: url(../../img/ohprintme/template/스티커/1.jpg) no-repeat center / cover;}
.template_ex2 {background: url(../../img/ohprintme/template/스티커/2.jpg) no-repeat center / cover;}
.template_ex3 {background: url(../../img/ohprintme/template/스티커/3.jpg) no-repeat center / cover;}
.template_ex4 {background: url(../../img/ohprintme/template/스티커/4.jpg) no-repeat center / cover;}
.template_ex5 {background: url(../../img/ohprintme/template/스티커/5.jpg) no-repeat center / cover;}
.template_ex6 {background: url(../../img/ohprintme/template/스티커/6.jpg) no-repeat center / cover;}
.template_ex7 {background: url(../../img/ohprintme/template/스티커/7.jpg) no-repeat center / cover;}
.template_ex8 {background: url(../../img/ohprintme/template/스티커/8.jpg) no-repeat center / cover;}

.posx_L {
    transform: translate(-100%,0);
    opacity: 0;
}
.posx_R {
    transform: translate(50%,0);
    opacity: 0;
}
.posx_active{
    transform: translate(0,0);
    opacity: 1;
}
@media screen and (max-width: 1004px) {
    .template_body_box {
        height: 530px;
    }
}
@media screen and (max-width: 768px) {
    .template_top_title {
        font-size: 45px;
    }
    .template_body_box {
        flex-wrap: wrap;
        height: 100%;
        
    }
    .template_L, .template_R {
        width: 100%;
        
    }
    .template_R {
        height: 270px;
    }
    .template_img {
        height: 480px;
    }
    .template_desc_box {
        margin-top: 10px;
        align-items: center;
        order: 3;
    }
    .tp_line {
        order:2;
    }
    .template_ex_box {
        order:1
    }
    .template_ex{
        height: calc(100%);
    }
    .template_ex:nth-child(n+5),
    .tp_txt_desc, .tp_line{
        display: none;
    }
    .tp_ex_header {
        margin-bottom: 0;
    }

    .tp_txt {

    }
    .tp_txt_title {
        font-size: 18px;
        font-weight: 600;
    }
}
@media screen and (max-width: 576px) {
    .template_top_title {
        font-size: 35px;
    }
    .template_img {
        height: 420px;
    }
}
@media screen and (max-width: 460px) {
    .template_top_title {
        font-size: 35px;
    }
    .template_img {
        height: 340px;
    }
    .tp_txt_title {
        font-size: 14px;
    }
    .template_R {
        height: 250px;
    }
}
/* 포토북 */

.photobook_sec {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    z-index: 1;
    transition: all 0.7s;
    /* overflow: hidden; */
    background: url(../../img/ohprintme/패턴/2142.jpg) no-repeat fixed center / cover;
    /* background-size: 150%; */
    padding: 30px 0;
}
.photobook_sec_back {
    position: absolute;

    width: 150%;
    height: 1800px;
    background: url(../../img/ohprintme/패턴/11.jpg) no-repeat fixed center / cover;
}
.photobook_sec_back_active {
    width: 100%;
    height: 100%;
    background: url(../../img/ohprintme/패턴/2142.jpg) no-repeat fixed center / cover;
    transition: all 0.7s;
}
.posy_up {
    transform: translate(0, -300px);
    opacity:0;
}
.posy_down {
    transform: translate(0, 0px);
    opacity:1;
}

.pb_header {
    padding: 100px 0;
    text-align: center;
    transition: all 1.5s;
}
.pb_title {
    font-size: 50px;
    font-weight: 600;
}

.pb_desc {
    color: #333;
}
.pb_body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 100px;
}
.pb_item_li {
    width: calc((100% - 30px *2)/3);
    aspect-ratio: 1;
    /* background: burlywood; */
    position: relative;
}
#photobook .pb_item_active {
    transition: all 0.5s 0s;
}

.pb_item_li:nth-child(9) {
    order: 5;
    pointer-events: none;
}
.pb_item_li:nth-child(5) {
    order: 6;
}
.pb_item_li:nth-child(6) {
    order: 7;
}
.pb_item_li:nth-child(7) {
    order: 8;
}
.pb_item_li:nth-child(8) {
    order: 9;
}
.page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    perspective: 1000px;
    /* transition: all 1.5s 0.5s ease-in; */
    transform-origin: left center;
}
.page1 {
    z-index:1;
    transition: all 1s 0.5s ease-in;
}
.page2 {
    z-index:0;
    transition: all 1s 0.5s ease-in;
    /* transform: rotateY(-180deg); */
}
.page3 {
    z-index: -1;
}
.pb_item_li:hover .page1{
    transform: rotateY(-180deg);
    z-index:0;
}
.pb_item_li:hover .page2{
    transform: rotateY(-180deg);
    z-index: 1;
}
.pb_item_li:hover {
    box-shadow: 3px 3px 10px #00000080;
    transform: translate(0, -50px);
    transition: all 0.5s 0s;
}
.pb_txt_box  {
    position: absolute;
    width: 100%;
    aspect-ratio: 3;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.pb_txt1{
 background: #333;
 color: #fff;
 font-size: 13px;
 border-radius: 10px;
 padding: 3px 10px;
}
.pb_txt2 {
    font-size: 13px;
    color:#333;
}
@media screen and (max-width: 768px) {
    .pb_header {
        padding: 50px 0;
    }
    .pb_title {
        font-size: 30px;
    }
    .pb_desc {
        font-size: 15px;
    }
    .pb_body {
        gap: 10px;
    }
    .pb_item_li {
        width: calc((100% - 10px* 2) / 3);
        aspect-ratio: 1;
        /* background: burlywood; */
        position: relative;
    }
    .pb_txt_box  {
        position: absolute;
        width: 100%;
        aspect-ratio: 3;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    
    }
    .pb_txt2 {
           font-size: 13px;
           color:#333;
    }
}
@media screen and (max-width: 670px) {

       .pb_txt2 {
           display: none;
       }
}
@media screen and (max-width: 540px) {
    .pb_title {
        font-size: 20px;
    }
    .pb_desc {
        display: none;
    }
    
}
/* new sec */
body {
    overflow-x: hidden;
}


.new_sec {
    width: 100%;
    height: 1000px;
    background: white;
    position: relative;
    margin-left: calc(50% - 612px);
    overflow: hidden;
}
.swiper_sec {
    display: flex;
    height: 100%;

}
.main_swiper {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 3;
}

  .main_swiper .swiper-slide {
    display: flex;
  }
.new_L_sec {
    
    height: 100%;
    aspect-ratio: 0.7;
    border-radius: 20px;
  }
.main_slide_1 .new_L_sec {
    background: url(../../img/ohprintme/카테고리0/banner/1.jpg) no-repeat center / cover;
}

.new_R_sec {
    width: 70%;
    height: 100%;
}

.title_area {
    width: 100%;
    height: 200px;
    padding: 50px 0 10px 30px;
    font-size: 40px;
    font-weight: 600;
}
.sub_swiper {
    width: calc(100%);
    height: 500px;
}
.swiper-slide img {
    object-fit: cover;
}
.sub_slide_1 {
    /* height: 100%; */
    border-radius: 50%;
    background: url(../../img/ohprintme/카테고리0/banner/2.jpg) no-repeat center / cover;
}
.main_nav .swiper-button-prev,
.main_nav .swiper-button-next {
    background: li ;
    opacity: 0;
    padding: 5px 5px;
    transition: all 0.5s;
    border-radius: 20px;
    color: rgb(60, 201, 226) !important;
    top: 40px
}
.new_sec:hover .swiper-button-prev ,
.new_sec:hover .swiper-button-next
{ opacity: 0.8;}
.new_sec .swiper-button-prev:after,
.new_sec .swiper-button-next:after {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}

.new_sec .swiper-pagination2 {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 101;
    transform: translateX(-50%);
    width: max-content
}

.new_sec .swiper-pagination2 span {
    opacity: .3;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: transparent;
    transition: all .3s
}

.new_sec .swiper-pagination2 span.bullet_active {
    opacity: 1
}

.new_sec .swiper-pagination2 span:before {
    opacity: 0;
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 1px solid rgba(38, 230, 198, 0.63);
    border-radius: 50%;
    transition: all .3s
}

.new_sec .swiper-pagination2 span.bullet_active:before {
    opacity: 1;
    width: 35px;
    height: 35px
}

.new_sec .swiper-pagination2 span:after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffc219
}










/* weekly ranking */
#w_ranking {
    padding: 50px 0 100px;
    width: 100%;
    background: url(../../img/ohprintme/패턴/133cb224695973ad3c769e226834c0f0.jpg) no-repeat fixed center / cover;
}
.ranking_title {
    color: #fff;
}
#w_ranking .item {
    width: calc((100% - (20px * 5)) / 4);
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
}

#w_ranking .item_img {
    position: relative;
    overflow: hidden;
}

#w_ranking .item:hover .ranking_no{
    background: url(../../img/ohprintme/icon/new_Flag_act.png) no-repeat;
}
#w_ranking a img {
    /* width: 100%; */
    width: 100%;
    /* padding-bottom: 0; */
    /* height: 293.75px; */
    transition: all 0.5s;
}
#w_ranking a img:hover {
    transform: scale(1.1);
}
#w_ranking .ranking_no {
    width: 40px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: url(../../img/ohprintme/icon/new_Flag.png) no-repeat;


    /* border-radius: 5px; */

    position: absolute;
    left: 10px;
    top: 0px;
}

.zzim_icon {
    width: 40px;
    height: 40px;
    background: url(../../img/ohprintme/icon/new_zzim_s_inactive.svg) no-repeat center / cover;

    position: absolute;
    right: 10px;
    top: 10px;
}

.zzim_icon:hover {
    background: url(../../img/ohprintme/icon/new_zzim_s_active.svg) no-repeat center / cover;
}

.zzim_icon_active {
    background: url(../../img/ohprintme/icon/new_zzim_s_active.svg) no-repeat center / cover;
}

.item_info {
    background: #fff;
}




.on {
    display: block;
}

.off {
    display: none;
}
